<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop up - Cadastro</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMAÇÕES<br>DE CONTATO</h2>
            </section>
        </section>

        <form action="" class="form_contact" method="post">
            <h2>Se cadastre aqui</h2>
            <div class="user_info">
                <label for="names">Nome:</label>
                <input type="text" id="names" name="txtNome">

                <label for="phone">Telefone / Celular:</label>
                <input type="text" id="phone" name="txtTelefone">

                <label for="phone">CPF:</label>
                <input type="text" id="phone" name="txtCpf">

                <label for="email">Email:</label>
                <input type="text" id="email" name="txtEmail">

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="txtSenha">

                <a href="index.html"> <input type="submit" value="Cadastre-se" id="btnSend"> </a> 
            </div>
        </form>

    </section>



    <script>
        $(document).ready(function(){

$('#btnSend').click(function(){

    var errores = '';

    // Validado Nombre ==============================
    if( $('#names').val() == '' ){
        errores += '<p>Escriba un nombre</p>';
        $('#names').css("border-bottom-color", "#F14B4B")
    } else{
        $('#names').css("border-bottom-color", "#d1d1d1")
    }

    // Validado Correo ==============================
    if( $('#email').val() == '' ){
        errores += '<p>Ingrese un correo</p>';
        $('#email').css("border-bottom-color", "#F14B4B")
    } else{
        $('#email').css("border-bottom-color", "#d1d1d1")
    }

    // Validado Mensaje ==============================
    if( $('#mensaje').val() == '' ){
        errores += '<p>Escriba un mensaje</p>';
        $('#mensaje').css("border-bottom-color", "#F14B4B")
    } else{
        $('#mensaje').css("border-bottom-color", "#d1d1d1")
    }

    // ENVIANDO MENSAJE ============================
    if( errores == '' == false){
        var mensajeModal = '<div class="modal_wrap">'+
                                '<div class="mensaje_modal">'+
                                    '<h3>Errores encontrados</h3>'+
                                    errores+
                                    '<span id="btnClose">Cerrar</span>'+
                                '</div>'+
                            '</div>'

        $('body').append(mensajeModal);
    }

    // CERRANDO MODAL ==============================
    $('#btnClose').click(function(){
        $('.modal_wrap').remove();
    });
});

});
    </script>
</body>
</html>